/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
* ,*::before, *::after{
    box-sizing: border-box;
}

:root {
  --background-color: #F3A930;
  --text-color:#ffffff;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background: #125037;
  }
  .container{
    max-width: 600px;
  margin: auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  h1{
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 20px;
  }
  
  h3{
    margin-bottom: 1rem;
    color: #a55732;
    font-size: 1.4rem;
    font-weight: 900;
    padding-bottom: 1vh;
  }
  
  ul{
    list-style-type: none;
    font-family: 'JetBrains Mono', monospace;
  }
  
  li{
    cursor: pointer;
    padding-bottom: 0.8vh;
  }
  
  a:link,
  a:visited,
  a:active
  {
    
    color: #49a44f;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing:1px ;
    background-color: transparent;
    text-decoration: none;
    transition: ease 300ms;
    
  }
  a:hover
  {
    
    color: #ffffff;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing:1px ;
    background-color: transparent;
    text-decoration: none;
    
    
  }

  .power{
    display: flex;
  }
  .Words {
    margin: 0 ;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -2px;
    position: fixed;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }

  /*
  ** Apply common styles to each line of text
  */
  .Words-line {
    height: 1.5rem;
  overflow: hidden;
  position: relative;
}
.Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
  color: #e6e6e6;
}
.Words-line:nth-child(1) {
  left: 1rem;
}
.Words-line:nth-child(2) {
  left: 1.8rem;
}
.Words-line:nth-child(3) {
  left: 2.5rem;
}
.Words-line:nth-child(4) {
  left: 3.5rem;
}
.Words-line:nth-child(5) {
  left: 4.5rem;
}
.Words-line:nth-child(6) {
  left: 5.5rem;
}
.Words-line:nth-child(7) {
  left: 6.5rem;
}

/*
** Fine-grained text styles
*/
p {
  height: 1.5rem;
  line-height: 1.4rem;
  padding: 0 0.5rem;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

@keyframes change{
  from {
    transform: translate3d(0,0,0);
  }
  to{
    transform: translate3d(0, -1.5rem,0);
  }
}
.Words p {
  /* transform: translate3d(0, -1.5rem, 0); */
  animation-duration: 5s;
  animation-name: change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

section{
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-width: 750px;
  margin: auto;
}
.tawk-branding {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
